@font-face {
  font-family: 'ralewayHeavy';
  src: url("../../font/raleway.heavy.ttf");
}
@font-face {
  font-family: 'raleway';
  src: url("../../font/raleway.regular.ttf");
}
/* line 1, ../sass/_global.scss */
body {
  padding: 0;
  margin: 0;
  font-family: raleway;
}
/* line 5, ../sass/_global.scss */
body .container {
  max-width: 1024px;
  margin: 0 auto;
}

/* line 2, ../sass/_header.scss */
.header__logo {
  text-align: left;
  display: inline-block;
}
/* line 3, ../sass/_header.scss */
.header__logo h1 {
  color: #78cd33;
  font-family: ralewayHeavy;
}
/* line 11, ../sass/_header.scss */
.header__email {
  float: right;
}

/* line 1, ../sass/_nav-bar.scss */
.navbar {
  background: #2a2a37;
  max-height: 50px;
  height: 50px;
}
/* line 5, ../sass/_nav-bar.scss */
.navbar__container {
  display: flex;
  width: 100%;
  list-style-type: none;
  padding: 0;
}
/* line 10, ../sass/_nav-bar.scss */
.navbar__container li {
  width: 14%;
  height: auto;
  margin: auto;
  color: #FFFFFF;
  text-align: center;
  flex-grow: 1;
  line-height: 3;
}
/* line 18, ../sass/_nav-bar.scss */
.navbar__container li:hover {
  background: #c1c1c1;
  font-weight: bold;
}

/* line 2, ../sass/_breadcrumb.scss */
.breadcrumb__list {
  list-style: none;
  overflow: hidden;
}
/* line 5, ../sass/_breadcrumb.scss */
.breadcrumb__list li {
  float: left;
}
/* line 7, ../sass/_breadcrumb.scss */
.breadcrumb__list li a {
  color: #c1c1c1;
  text-decoration: none;
  position: relative;
  display: block;
  float: left;
}
/* line 13, ../sass/_breadcrumb.scss */
.breadcrumb__list li a i {
  padding: 0 2px;
}

/* line 2, ../sass/main-container.scss */
.main__left, .main__centre, .main__right {
  display: inline-block;
  vertical-align: top;
}
/* line 7, ../sass/main-container.scss */
.main__left {
  width: 25%;
  list-style: none;
}
/* line 10, ../sass/main-container.scss */
.main__left .leftNav__list {
  padding: 0.5em 2em;
}
/* line 12, ../sass/main-container.scss */
.main__left .leftNav__list li {
  list-style: none;
}
/* line 16, ../sass/main-container.scss */
.main__left .leftNav__list > li {
  padding: 0.5em;
  border: solid 1px #c1c1c1;
}
/* line 22, ../sass/main-container.scss */
.main__centre {
  width: 50%;
}
/* line 24, ../sass/main-container.scss */
.main__centre .boldText {
  font-family: ralewayHeavy;
}
/* line 27, ../sass/main-container.scss */
.main__centre-bot {
  width: 100%;
}
/* line 29, ../sass/main-container.scss */
.main__centre-bot-image {
  width: 32%;
  height: 150px;
  display: inline-block;
}
/* line 34, ../sass/main-container.scss */
.main__centre-bot .image01 {
  background: url("../../images/img01.jpg") no-repeat center;
  background-size: cover;
}
/* line 38, ../sass/main-container.scss */
.main__centre-bot .image02 {
  background: url("../../images/img02.jpg") no-repeat center;
  background-size: cover;
}
/* line 42, ../sass/main-container.scss */
.main__centre-bot .image03 {
  background: url("../../images/img03.jpg") no-repeat center;
  background-size: cover;
}
/* line 49, ../sass/main-container.scss */
.main__right {
  width: 24%;
  border-radius: 10px;
  background: #b5b5d0;
  margin-top: 1em;
  position: relative;
}
/* line 55, ../sass/main-container.scss */
.main__right button {
  margin: 15px auto;
  display: block;
  background: #6c6c82;
  padding: 10px;
  border-radius: 5px;
}
/* line 62, ../sass/main-container.scss */
.main__right label {
  padding-left: 1em;
}
/* line 65, ../sass/main-container.scss */
.main__right-price p {
  display: inline-block;
  padding-left: 1.2em;
}

/* line 1, ../sass/_footer.scss */
.footerMenu {
  background: #2a2a37;
  max-height: 50px;
  height: 50px;
  margin-top: 1em;
}
/* line 6, ../sass/_footer.scss */
.footerMenu__container {
  display: flex;
  list-style-type: none;
  padding: 0 10%;
}
/* line 10, ../sass/_footer.scss */
.footerMenu__container li {
  width: 16.66%;
  height: auto;
  margin: auto;
  color: #FFFFFF;
  text-align: center;
  flex-grow: 1;
  line-height: 3;
}
/* line 18, ../sass/_footer.scss */
.footerMenu__container li:hover {
  background: #c1c1c1;
  font-weight: bold;
}

/* line 27, ../sass/_footer.scss */
footer {
  text-align: center;
  color: #2a2a37;
  padding: 3px;
}
