.breadcrumb {
  &__list {
    list-style: none;
    overflow: hidden;
    li {
      float: left;
      a {
        color: $clr-grey;
        text-decoration: none;
        position: relative;
        display: block;
        float: left;
        i {
          padding: 0 2px;
        }
      }
    }
  }
}
