.footerMenu {
  background: $clr-charcoal;
  max-height: 50px;
  height: 50px;
  margin-top: 1em;
  &__container {
    display: flex;
    list-style-type: none;
    padding: 0 10%;
    li {
        width: 16.66%;
        height: auto;
        margin: auto;
        color: $clr-white;
        text-align: center;
        flex-grow: 1;
        line-height: 3;
        &:hover {
          background: $clr-grey;
          font-weight: bold;
        }
    }
  }
}

// Footer text
footer {
  text-align: center;
  color: $clr-charcoal;
  padding: 3px;
}
