.navbar {
  background: $clr-charcoal;
  max-height: 50px;
  height: 50px;
  &__container {
    display: flex;
    width: 100%;
    list-style-type: none;
    padding: 0;
    li {
        width: 14%;
        height: auto;
        margin: auto;
        color: $clr-white;
        text-align: center;
        flex-grow: 1;
        line-height: 3;
        &:hover {
          background: $clr-grey;
          font-weight: bold;
        }
    }
  }
}
