/////////////////////////////////////////////////
// COLORS
/////////////////////////////////////////////////

$clr-green: #78cd33;
$clr-charcoal: #2a2a37;
$clr-white: #FFFFFF;
$clr-grey: #c1c1c1;
$clr-purple: #b5b5d0;
$clr-deep-purple: #6c6c82;

/////////////////////////////////////////////////
// FONTS
/////////////////////////////////////////////////

@font-face {
	font-family: 'ralewayHeavy';
	src: url('../../font/raleway.heavy.ttf');
}

@font-face {
  font-family: 'raleway';
	src: url('../../font/raleway.regular.ttf');
}
