.main {
  &__left, &__centre, &__right {
    display: inline-block;
    vertical-align: top;
  }

  &__left {
    width: 25%;
    list-style: none;
    .leftNav__list {
      padding: 0.5em 2em;
      li {
        list-style: none;
      }
    }
    .leftNav__list > li {
      padding: 0.5em;
      border: solid 1px $clr-grey;
    }
  }

  &__centre {
    width: 50%;
    .boldText {
      font-family: ralewayHeavy;
    }
    &-bot {
      width: 100%;
      &-image {
        width: 32%;
        height: 150px;
        display: inline-block;
      }
      .image01 {
        background: url("../../images/img01.jpg") no-repeat center;
        background-size: cover;
      }
      .image02 {
        background: url("../../images/img02.jpg") no-repeat center;
        background-size: cover;
      }
      .image03 {
        background: url("../../images/img03.jpg") no-repeat center;
        background-size: cover;
      }
    }
  }

  &__right {
    width: 24%;
    border-radius: 10px;
    background: $clr-purple;
    margin-top: 1em;
    position:relative;
    button {
      margin: 15px auto;
      display: block;
      background: $clr-deep-purple;
      padding:10px;
      border-radius: 5px;
    }
    label {
      padding-left: 1em;
    }
    &-price p {
      display: inline-block;
      padding-left: 1.2em;
    }
  }
}
